<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>電子オウム使用説明書</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h2 class = "main_title">Web版電子オウムへようこそ!</h2>
    <h3 class = "h3_1">Web版電子オウムの使い方を説明します。</h3>
    <p>
        <ol class = "ol_all">
            <li class = "ol_1">テキストボックスに好きな単語や文章を入力する</li>
            <li class = "ol_1">音声再生をする秒数を設定する（1~60秒まで設定できます）</li>
            <li class = "ol_1">音声の速度を「普通」か「ゆっくり」のどちらかを選択する</li>
            <li class = "ol_1">音声の言語を「日本語」か「英語」のどちらかに設定する</li>
            <li class = "ol_1">入力が出来たら「話しかける」ボタンを押す</li>
            <li class = "ol_1">入力した内容を音声再生する</li>
        </ol>
        <h3 class = "h3_2">電子オウムをもっと楽しく使うための豆知識</h3>
        <ul class = "ul_all">
            <li class = "ul_1">メイン画面の「音声の速度を変える」メニューで音声再生されるときの音声の速度を変えることが出来ます。</li>
            <li class = "ul_1">挨拶や掛け声などの短いものは5秒ほどに設定すると待ち時間を短縮できます。</li>
            <li class = "ul_1">長めの文章を音声再生したいときは40~60秒くらいに設定するとちょうどよくなります。</li>
            <li class = "ul_1">英文を音声再生したいときは「言語を変える」メニューの「英語」を選択することでネイティブな音声で再生することが出来ます。<br>
            英文の発音の勉強をする際に役立ちます。</li>
            <li class = "ul_1">音声再生中に「話しかける」ボタンを押すとエラーになってしまいますのでご注意ください。</li>
        </ul>
    </p>
    <!--
    <form method = "POST" action = "/">
        <input type = "submit" value = "メイン画面に戻る">
    </form>
    -->
    <button class = "button_1" onclick="location.href='./'">メイン画面に戻る</button>
</body>
</html>