<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>電子オウム使用説明書</title>
</head>
<body>
    <h2>Web版電子オウムへようこそ!</h2>
    <p>Web版電子オウムの使い方を説明します。</p>
    <p>
        <ol>
            <li>テキストボックスに好きな単語や文章を入力する</li>
            <li>入力が出来たら「話しかける」ボタンを押す</li>
            <li>入力した内容を音声再生する</li>
        </ol>
        ☆メイン画面右上の「音声を変える」で音声再生されるときの音声を変えることが出来ます
    </p>
    <a href = "main.html">メイン画面に戻る</a> <!--メイン画面に遷移-->
</body>
</html>