/*main_5.htmlのCSS*/
header{
    font-size: 25px;
}
.form_1{
    margin: 0.5em 1em;
    padding:2em;/*内側余白*/
    border:dotted 3px #4ec4d3;/*線の種類・太さ・色*/
}
.main_menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/*guide_4.htmlのCSS*/